/* loader */
.loader {
    border: 16px solid white;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    z-index: 999;

    position: fixed;
    top: 40%;
    left: 45%;
    transition: opacity 0.5s ease;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#body {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    /* Ensure it takes full width */
    height: 100%;
    /* Ensure it takes full height */
    overflow: hidden;
    /* Prevents content from overflowing */
    filter: blur(0px);
    /* blur(20px) */
    transition: filter 0.5s ease;
}